@{
    ViewData["Title"] = "About Us";
}
<div class="card mb-3">
    <img src="https://cdn.lynda.com/course/765320/765320-637491246686988285-16x9.jpg" width="200"  height="400" class="card-img-top" alt="picture C#">
    <div class="card-body">
        <h5 class="card-title">ผู้จัดทำ</h5>
        <p class="card-text">นาย  คมกฤษ  &nbsp; หอมกลิ่นแก้ว    &nbsp; &nbsp; รหัส  &nbsp;&nbsp; 09601341</p>
        <p class="card-text">น.ส. ชญานิษฐ  &nbsp; ชูกุล    &nbsp; &nbsp; รหัส  &nbsp;&nbsp; 09601351</p>
        <p class="card-text">น.ส. วรินทร  &nbsp; ทิพย์ทำมา  &nbsp; &nbsp; รหัส  &nbsp;&nbsp;09601457</p>
    </div>
</div>

