@model Student
@{
    ViewData["Title"] = "Thanks";
}

<h2>Thanks for your submission, @Model.Name</h2><br>
<a asp-action="Index" class="btn btn-lg btn-primary active" role="button" aria-pressed="true">View All Students</a>

