@model Student
@{
    ViewData["Title"] = "Update";
}
<a asp-action="Index">View All Students</a>
<h2>Update</h2>
<form method="post">
    <p>
        <label asp-for="Name">Name:</label>
        <input asp-for="Name" />
    </p>
    <p>
        <label asp-for="Age">Age:</label>
        <input asp-for="Age" />
    </p>
    <p>
        <label asp-for="Year">Year:</label>
        <select asp-for="Year">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </p>
    <p>
        <label asp-for="Major">Major:</label>
        <input asp-for="Major" />
    </p>
    <p>
        <label asp-for="Sex">Sex:</label>
        <input type="radio" asp-for="Sex" value="M" />Male
        <input type="radio" asp-for="Sex" value="F" />Female
    </p>
    <p><button type="submit" class="btn btn-success">Submit</button></p>
</form>